{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}

    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="{{ path('movie_index') }}">Home</a>
                </div>

                <div class="movie-list">

                    {% if movies is empty %}
                        <p>
                            The database is empty. If you want to see the movies,
                            you need to go to the project folder at the command prompt(cmd)
                            and run the <b>php bin\console fetch-movies</b> command. </p>
                        <p>
                            Veritabanı boş. Eğer filmleri görmek isterseniz komut isteminde(cmd) proje klasörüne gelerek
                            <b>php bin\console fetch-movies</b> komutunu çalıştırmanız gerekmektedir.
                        </p>
                    {% else %}

                    {% for movie in movies %}
                    <div class="movie">
                        <figure class="movie-poster">
                            <img src="{{ movie.image }}" alt="#">
                        </figure>
                        <div class="movie-title">
                            <a href="{{ path('movie_show', {'name':movie.name} ) }}">{{ movie.name }}</a>
                        </div>
                        <p>{{ movie.summary | u.truncate(70) | raw }}...</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div> <!-- .movie-list -->

            </div>
        </div> <!-- .container -->
    </main>
</div>
    <!-- Default snippet for navigation -->
{% endblock %}
