{% extends 'base.html.twig' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="{{ path('movie_index') }}">Home</a>
                    <span>{{ movie.name }}</span>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="movie-poster"><img src="{{ movie.imageOriginal }}" alt="#"></figure>
                        </div>
                        <div class="col-md-6">
                            <h2 class="movie-title">{{ movie.name }}</h2>
                            <div class="movie-summary">
                                <p>
                                    {{ movie.summary|raw }}
                                </p>
                            </div>
                            <ul class="movie-meta">
                                <li><strong>Length:</strong> {{ movie.length }} min</li>
                                <li><strong>Premiere:</strong> {{ movie.premiere }} ({{ movie.country }})</li>
                                <li><strong>Category:</strong> {{ movie.type }}</li>
                                <li><strong>Language:</strong> {{ movie.language }}</li>
                            </ul>
                        </div>
                    </div> <!-- .row -->
                </div>
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}
