<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}

            <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets') }}/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

            <!-- Loading main css file -->
            <link rel="stylesheet" href="{{ asset('assets') }}/style.css">

        {% endblock %}

        {% block javascripts %}

            <script src="{{ asset('assets') }}/js/ie-support/html5.js"></script>
            <script src="{{ asset('assets') }}/js/ie-support/respond.js"></script>

        {% endblock %}
    </head>
    <body>
    <div id="site-content">
        <header class="site-header">
            <div class="container">
                <a href="{{ path('movie_index') }}" id="branding">
                    <img src="{{ asset('assets') }}/images/logo.png" alt="" class="logo">
                    <div class="logo-copy">
                        <h1 class="site-title">Bircom Movies</h1>
                        <small class="site-description">Our Comedy Movies</small>
                    </div>
                </a> <!-- #branding -->

                <div class="main-navigation">
                    <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item current-menu-item">
                            <a href="{{ path('movie_index') }}">Home</a>
                        </li>
                    </ul> <!-- .menu -->
                </div> <!-- .main-navigation -->
                <div class="mobile-navigation"></div>
            </div>
        </header>
        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="site-footer">
                <div class="container">
                    <div class="colophon">Copyright 2021 Bircom Telekomünikasyon ve Bilişim Hizmetleri,
                        Designed by Mustafa Kemal KURUDAĞ. All rights reserved</div>
                </div> <!-- .container -->
            </footer>
        {% endblock %}
    </div>
        <script src="{{ asset('assets') }}/js/jquery-1.11.1.min.js"></script>
        <script src="{{ asset('assets') }}/js/plugins.js"></script>
        <script src="{{ asset('assets') }}/js/app.js"></script>

    </body>
</html>